[ssensitivity-demand-simulate]
samples-folder =
samples-folder.type=PathParameter
samples-folder.direction= input
simulation-folder =
simulation-folder.type =PathParameter
simulation-folder.direction= output
output-parameters = Qcs_sys_MWhyr, Qhs_sys_MWhyr, E_sys_MWhyr, Qhs_sys0_kW, Qcs_sys0_kW, E_sys0_kW
output-parameters.type = MultiChoiceParameter
output-parameters.choices = Qcs_sys_MWhyr, Qhs_sys_MWhyr, E_sys_MWhyr, Qhs_sys0_kW, Qcs_sys0_kW, E_sys0_kW
output-parameters.help = Output parameters for which the sensitivity analysis is performed.
number-of-simulations =
number-of-simulations.type = IntegerParameter
number-of-simulations.nullable = true
number-of-simulations.help = Number of simulations to perform (leave blank to simulate all)
sample-index = 0
sample-index.help = Zero-based index into the samples list to simulate.
sample-index.type = IntegerParameter



