[ssensitivity-demand-simulate]
samples-folder =
samples-folder.type=PathParameter
simulation-folder =
simulation-folder.type =PathParameter
output-parameters=
output-parameters.type=PathParameter
number-of-simulations=
number-of-simulations.type=
sample-index =
sample-index.type=
demand=


fudge-factor = 1.0
fudge-factor.type = RealParameter
fudge-factor.help = A factor to fudge (multiply) the results by
